@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Main:</span>
        <span>812-369-7654</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>LinkedIn: </h3>
    </header>
    <p>
        <span class="label"><a href="https://linkedin.com/in/gokhalemilind">linkedin.com/in/gokhalemilind</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Github Account: </h3>
    </header>
    <p>
        <span class="label"><a href="https://github.com/milindhg">github.com/milindhg</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Personal:</span>
        <span><a href="mailto:milindhg@gmail.com">milindhg@gmail.com</a></span>
    </p>
    <p>
        <span class="label">Official:</span>
        <span><a href="mailto:mgokhale@indiana.edu">mgokhale@indiana.edu</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        3220 E John Hinkle Place Apt D<br />
        Bloomington, IN - 47408
    </p>
</section>